*{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.877)),url(/photos/Cyber.jpg);
}

header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: black;
	z-index: 2;
}

.portfolio{
	display: flex;
	width: 100px;
	height: 50px;
	margin: 50px 0 0 110px;
}

.portfolio h5{
	color: #fff;
	display: flex;
	font-size: 20px;
	z-index: 3;
}

header img{
	position: fixed;
	height: 100px;
}

ul{
	margin: -80px 0px 0 0px;
	display: flex;
  justify-content: center;
}

li{
	list-style: none;
	padding-left: 50px;
	margin-top: 20px;
}

li a{
	color: #fff;
	font-size: 25px;
	text-decoration: none;
  transition: 0.5s;
	transition: 0.5s;
}

li a:hover{
	transform: translateY(0);
	color: red;
	text-shadow: 0 0 15px orangered;
}

/*li a:hover{
	transform: scaleY(0);
  color: #ff0000;
	text-shadow: 0 0 15px orangered;
}*/

.icons{
	display: flex;
	margin: -30px 20px 0px 1100px;
}
.icons .a{
	height: 32px;
	width: 32px;
	margin-left: 20px;
}
.section1{
  position: relative;
	width: 90%;
	left: 20px;
	top: 224px;
}

h1{
	position: relative;
	top: 4px;
	left: 40px;
	font-size: 44px;
	color: #cac9c9;
  text-shadow: 0 0 9px rgb(255, 0, 0);
}
p{
	position: relative;
	top: 54px;
	left: 70px;
	color: #BCBCBC;
	font-size: 26px;
	line-height: 36px;
}


button{
  position: relative;
	height: 80px;
	width: 280px;
  border-radius: 83px;
	bottom: 600px;
	left: 200px;
	border: none;
	color: #fff;
	font-size: 28px;
	background: linear-gradient(#5aa6e4,#004f63);
	transition: 0.5s;
}

button:hover{
	color: rgb(0, 0, 0);
	border-top-left-radius: 83px;
  border-top-right-radius: 23px;
	border-bottom-right-radius: 83px;
	border-bottom-left-radius: 23px;
	background: linear-gradient(#ff2a2a,#ca0000);
  transform: translateY(0);
}

.cub{
	position: relative;
	bottom: 150px;
	height: 758px;
	left: 358px;
	color: #cac9c9;
}

.project-box{
	display: flex;
	flex-wrap: wrap;
	height: 1660px;
	width: 100%;
	background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.548)), url(/photos/city-at-night-cyberpunk-2077-thumb.jpg);
	background-position: center;
	
}

.h2{
	display: flex;
	height: 100px;
	width: 100%;
}
.h2 h2{
	font-size: 64px;
	color: #ffffff;
  text-shadow: 0 0 9px rgb(255, 0, 0);
	margin-left: 10px;
}
.card1{
	display: flex;
	border-top-left-radius: 60px;
	border-bottom-right-radius: 60px;
	margin-left: 100px;
	height: 700px;
	width: 550px;
	background-color: black;
	box-shadow: 0 0 10px rgb(170, 255, 0) ;
}
.card2{
	display: flex;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	margin-left: 100px;
	height: 700px;
	width: 550px;
	background-color: black;
	box-shadow: 0 0 10px orangered ;
}
.card3{
	display: flex;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	margin-left: 100px;
	height: 700px;
	width: 550px;
	background-color: black;
	box-shadow: 0 0 10px rgb(92, 92, 92) ;
}
.card4{
	display: flex;
	border-top-left-radius: 60px;
	border-bottom-right-radius: 60px;
	margin-left: 100px;
	height: 700px;
	width: 550px;
	background-color: black;
	box-shadow: 0 0 10px rgb(255, 0, 0) ;
}
.card-img{
	background-image: url(/photos/cyberpunk-car-4k-me-2560x1440.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	border-top-left-radius: 40px;
	width: 500px;
	height: 266px;
	margin: 20px;
	border: 1px solid rgb(255, 187, 0);
}
.card-img2{
	background-image: url(/photos/en-cp77-edgerunnes-update-1920-1080-rgb-1920x1080-62d4ff766a4a.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	border-top-right-radius: 40px;
	width: 500px;
	height: 266px;
	margin: 20px;
	border: 1px solid orangered;
}
.card-img3{
	background-image: url(/photos/29301b0e70.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	border-top-right-radius: 40px;
	width: 500px;
	height: 266px;
	margin: 20px;
	border: 1px solid rgb(88, 88, 88);
}
.card-img4{
	background-image: url(/photos/cyber-punk2077samurai-dragon.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	border-top-left-radius: 40px;
	width: 500px;
	height: 266px;
	margin: 20px;
	border: 1px solid rgb(255, 0, 0);
}
.h3{
	display: flex;
	margin-top: 290px;
	height: 50px;
}
.h3 h3{
	font-size: 36px;
	color: #fff;
	background-color: black;
	z-index: 1;
}
.card-text{
	height: 220px;
	width: 450px;
	display: flex;
	margin: 300px 55px 0 -100px;
	border: 1px solid purple;
}
.card-text p{
	color: #FFFFFF;
	background-color: black;
	padding-left: 15px;
}
.card-button0{
	display: flex;
  height: 60px;
	width: 200px;
	margin: 612px 0px 0 -500px;
}
.card-button0 a{	
  border-radius: 83px;
	height: 50px;
	width: 200px;
	background: linear-gradient(#c300ff,#8700b1,#4d00ac);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #fff;
	transition: 0.5s;
}

.card-button1{
	display: flex;
  height: 60px;
	width: 200px;
	margin: 612px 0px 0 -500px;
}
.card-button1 a{	
  border-radius: 83px;
	height: 50px;
	width: 200px;
	background: linear-gradient(#c300ff,#8700b1,#4d00ac);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #fff;
}

.technologies-card{
  display: flex;
	flex-wrap: wrap;
	height: 1174px;
	width: 100%;
	background-image:linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.979)), url(/photos/Cybercar2.jpg);
	background-position: center;
}
.statics{
	display: flex;
	flex-direction: column;
	margin: 0px 0px 0 145px;
	height: 932px;
	width: 80%;
}

.skills{
	display: flex;
	height: 140px;
	width: 100%;
}

.h{
	color: #fff;
	font-size: 36px;
	position: absolute;
	margin: 40px 0 0 10px;
}

.h5{
	font-size: 20px;
	color: #fff;
	position: absolute;
  margin: 55px 0 0 900px;
	height: 20px;
}

.line-indicator{
	display: flex;
	border: 25px solid gray;
	border-radius: 83px;
	margin: 88px 0px 0 0;
	width: 100%;
	height: 0;
}

.indicator1{
	display: flex;
	width: 80%;
	height: 0;
	border-radius: 83px;
	border: 25px solid rgb(252, 17, 0);
	margin: -25px 100px 0px -25px;
}
.indicator2{
	display: flex;
	width: 80%;
	height: 0;
	border-radius: 83px;
	border: 25px solid rgb(248, 20, 12);
	margin: -25px 100px 0px -25px;
}
.indicator3{
	display: flex;
	width: 80%;
	height: 0;
	border-radius: 83px;
	border: 25px solid rgb(255, 17, 0);
	margin: -25px 990px 0px -25px;
}
.indicator4{
	display: flex;
	width: 80%;
	height: 0;
	border-radius: 83px;
	border: 25px solid rgb(255, 0, 0);
	margin: -25px 100px 0px -25px;
}
.indicator5{
	display: flex;
	width: 80%;
	height: 0;
	border-radius: 83px;
	border: 25px solid rgb(255, 0, 0);
	margin: -25px 990px 0px -25px;
}
.indicator6{
	display: flex;
	width: 80%;
	height: 0;
	border-radius: 83px;
	border: 25px solid rgb(255, 0, 0);
	margin: -25px 990px 0px -25px;
}
.indicator7{
	display: flex;
	width: 80%;
	height: 0;
	border-radius: 83px;
	border: 25px solid rgb(255, 0, 0);
	margin: -25px 990px 0px -25px;
}

.card-additional1{
	display: flex;
	height: 380px;
	width: 100%;	
	display: flex;
	flex-direction: column;
	height: 540px;
	width: 100%;
  background-image:linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.89)), url(/photos/145661-cyberpunk-2077-edgerunners-minimalism-4k-quality.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.card-additional2{
	display: flex;
flex-wrap: wrap;
}
.card-h2{
	margin: 10px 0 0 20px;
  font-size: 48px;
	color: yellow;
	height: 100px;
	width: 100%;
}

 .box-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 1.5rem;
}

 .box-container .box{
	flex: 1 1 60px;
	margin: 50px 40px 10px 90px;
}


 .box-container .box a{
	display: flex;
	color: #FFFFFF;
	font-size: 1.5rem;
	padding: 10px;
	text-decoration: none;
}

.box-container .box a:hover{
	color: rgb(250, 234, 16);
  text-decoration: underline;
}

.box-container .box a::before{
	content: "> ";
	margin-right: 10px;
}

.about-me{
  display: flex;
	flex-wrap: wrap;
	height: 514px;
	width: 100%;

}
.about-h3{
	display: flex;
	font-size: 64px;
	color: #00ccff;
	height: 100px;
	width: 100%;
  margin: 10px 0 0 20px;
}


.years1{
 position:absolute;
 margin: 200px 0 0 120px;
 color: #00ffd5;
font-size: 30px;
}
.years2{
 position:absolute;
 margin: 200px 0 0 430px;
 color: #00ffea;
 font-size: 30px;
}
.years3{
 position:absolute;
 margin: 200px 0 0 745px;
 color: #00ffea;
 font-size: 30px;
}
.years4{
 position:absolute;
 margin: 200px 0 0 1056px;
 color: #00fff2;
 font-size: 30px;
}

.underline{
	position: absolute;
	border: 5px solid #ffffff;
	height: 0;
	margin: 250px 0px 0 150px;
	width: 70%;
	border-radius: 83px;
}

.dots{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  margin-top: -10px;
}

.dots1{
	display: flex;
	border: 10px solid #00d4fa;
	border-radius: 83px;
	margin: 0px 0px 0px -10px;
	height: 0;
	width: 10px;
}
.dots2{
display: flex;
	border: 10px solid #00f7ff;
	border-radius: 83px;
	height: 0;
	width: 10px;
}
.dots3{
display: flex;
	border: 10px solid #00c6e9;
	border-radius: 83px;
	height: 0;
	width: 10px;
}
.dots4{
  display: flex;
	border: 10px solid #00ffff;
	border-radius: 83px;
	height: 0;
	margin: 0px -10px 0px 0px;
	width: 10px;
}

.history p{
	display: flex;
	width: 220px;
	color: #00ffea;
	margin: 50px 80px 10px 10px;
}

footer{
	height: 300px;
	width: 80%;
	display: flex;
  margin:0 10px 0 100px ;
}
.footer-ul{
	display: flex;
	margin: 100px 0 0 750px;
}
.footer-ul .footer-li{
	list-style: none;
	display: flex;
	margin-inline: -10px;
}
.footer-li .footer-a{
	display: flex;
	color: white;
  font-size: 47px;
}
.footer-text{
	display: flex;
	margin: 110px 0 0 -890px;
	font-size: 20px;
}
.footer-h5{
	color: #ff0000;
	font-size: 25px;
}
.footer-h4{
	color: #ff0000;
	font-size: 25px;
	margin-left: 50px;
}
.footer-a{
	color: #00e1ff;
	text-decoration: none;
}

